<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - NeuPsi-Pro</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-[#002B7A] flex h-screen lg:flex-row transition-transform duration-300">

    <div id="overlay" class="fixed inset-0 bg-black/40 hidden md:hidden"></div>

    <!-- Sidebar -->
     <%- include('../../partials/sidebar.ejs') %>

    <div class="flex-1 flex flex-col overflow-hidden">

        <!-- Header -->
        <%- include('../../partials/header.ejs') %>

        <!-- Main -->
        <main class="flex-1 p-6 pb-0 md:pl-0 overflow-hidden">
            <div class="w-full h-full bg-white rounded-3xl p-6 overflow-y-auto space-y-6 mt-6">

                <!--Main Header-->
                <div>
                    <h1 class="text-xl font-bold">
                        <svg class = "black-icon shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>

                        <span id="id_user"></span> > Entrevista Inicial

                    </h1>
                    <hr class="border-2 border-[#002B7A]">
                </div>
                
                <div class="w-full pt-0 p-3">                    

                    <!--Sections-->
                    <div id="sections-stepper">
                        <%- include('../../partials/sections.ejs') %>
                    </div>

                    <div class="grid md:grid-cols-2">
                        <div>
                            <h1 class="font-bold section_title">
                                2. Nivel Socioeconómico
                            </h2>
                        </div>

                        <!--Navegation buttons-->
                        <div class="pt-4 pr-6 p-1 flex justify-end gap-2">
                            <!--Previus-->
                            <button class="btn-mini bg-[#3350A9]">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>

                                <span>Anterior</span>
                            </button>

                            <!--Next-->
                            <button class="btn-mini bg-[#3350A9]">
                                <svg class="white-icon-mini" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>

                                <span>Siguiente</span>
                            </button>
                        </div>
                    </div>

                    <!--Section Title-->
                    <h2 class="section_title">2.1 Ingresos y Egresos</h2>

                    <!--Content-->
                    <div class="grid md:grid-cols-5">
                        <div id="sidebar-timeline"><%- include('../../partials/sectionsSidebar.ejs') %></div>
                        <div class="col-span-2"><%- include('../financial/incomes.ejs') %></div>
                        <div class="col-span-2"><%- include('../financial/expenses.ejs') %></div>
                    </div>

                    <!--Navegation buttons-->
                    <div class="pt-4 pr-6 p-1 flex justify-end gap-2">
                        <!--Previus-->
                        <button class="btn-mini bg-[#3350A9]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                            <span>Anterior</span>
                        </button>

                        <!--Next-->
                        <button class="btn-mini bg-[#3350A9]">
                            <svg class="white-icon-mini" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                            <span>Siguiente</span>
                        </button>
                    </div>
                </div>
                
            </div>
        </main>

    </div>

    <script>
        // Get data
        window.financialData = <%- JSON.stringify(data) %>;

        // Send data for sections sidebar (subSteps)
        window.sidebarState = {
            currentStep: window.financialData.current_section,
            completedSteps: window.financialData.data.completedSubSteps,
        };

        // Send data for sections (steps)
        window.sectionsState = {
            currentStep: 2,
            completedSteps: window.financialData.data.completedSteps,
            subStep: window.financialData.current_section
        };
    </script>

    <!-- Script -->
    <script src="/js/financialMapper.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/sectionsStepper.js"></script>
    <script src="/js/sidebarTimeline.js"></script>

</body>
</html>